* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Open Sans';
}

.active { 
    background: #f15401 !important;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.col-half {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.class-section {
    padding: 64px 0;
    width: 1000px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.column-1 {
    flex: 0 0 32%;
    max-width: 33.33333%;
}

.column-2 {
    flex: 0 0 49%;
    max-width: 50%;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

#header-container {
    background-color: white;
    height: 4.25rem;
    position: fixed;
    width: 100%;
}

#header-container .header-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 4.25rem;
}

#header-container .header-items .header-logo{
    
}

#header-container .header-items .header-menu{
    
}

#header-container .header-items .header-menu .menu-list {
    display: flex;
}

#header-container .header-items .header-menu .menu-list li {
    padding: 0 15px;
}


#header-container .header-items .header-menu .menu-list li a {
    color: black;
    font-weight: 600;
    font-size: 14px;
}

#header-container .header-items .header-menu .menu-list li a:hover {
    color: #ea8025;
}

#header-container .header-items .header-search {
}

#header-container .header-items .header-search .header-search-link {
    color: black;
    font-weight: 600;
    margin-right: 10px;
}

#header-container .header-items .header-search .header-search-link:hover {
    color: #ea8025;
}

#header-container .header-items .header-search-btn {
    background-color: #f15401;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 700;
}
#header-container .header-items .header-search-btn:hover {
    background-color: #de751a;    
}


#header-container .header-items .header-search-btn a {
    color: white;
    font-size: 14px;
}

.slider-container .slider-banner {
    background-image: url(../img/1624978619019.jpeg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100%;
}

.slider-container .container-fluid {
    width: 100%;
    text-align: center;
}

.slider-container .pot-apply {
    width: 100%;
    justify-content: center;
}

.slider-container .apply-container {
    padding: 2rem 0;
}

.slider-container .apply-header {
    /* margin-top: 30px; */
}

.slider-container .pot-apply .apply-btn  {
    padding: 15px 15px;
}

.slider-container .pot-apply .apply-btn button {
    background: linear-gradient(180deg, #ffb438 0, #fd8117 100%);
    padding: 20px;
    width: 100%;
    width: 255px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.slider-container .pot-apply .service {
}

/* .slider-container .pot-apply .apply-btn {
} */

.slider-container .more-pot {
    width: 100%;
    text-align: center;
}

.slider-container .more-pot a {
    color: #ff6725;
    font-weight: 600;    
}

.office-block-container {
    background: linear-gradient(180deg, #fef2df 0, rgba(255, 255, 255, 0) 100%);
    padding-top: 4rem;
    padding-bottom: 5rem;
    min-height: 750px;
}

.office-items-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.office-block-container .office-block .office-img  {
    width: 100%;
}

.office-block-container .office-block .office-img img {
    border-radius: 10px;
    /* height: fit-content; */
    width: 100%;
}

.office-block-container .office-block {
    border-radius: 10px;
    width: 450px;
    box-shadow: 11.5294px 11.5294px 14.4118px rgb(0 0 0 / 8%);
}

.office-block-container .office-item-left {
    background: #ff6725;
}

.office-block-container .office-item-right {
    background: linear-gradient(180deg, #ffb438 0, #fd8117 100%);
    margin-left: 30px;
}

.office-block-container .office-block .office-content .office-column {
    display: flex;
}

.office-block-container .office-block .office-content .office-column a {
    color: white;
    text-transform: capitalize;
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 10px;
}

.office-block-container .office-block .office-content {
    padding: 1.5rem 1.5rem 2rem;
    font-size: 16px
}

.office-block-container .office-block .office-content .office-column {
    flex-wrap: wrap;
}


.office-block-container .office-block .office-content .title {
    color: white;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 20px;
}

.office-block-container .office-block .office-see-more {
    padding-top: 30px;
}

.office-block-container .office-block .office-see-more a {
    color: white;
    font-weight: 600;
    font-size: 16px;
}

/* =============================== */
.d-flex {
    display: flex;
}

.tch-value {
    background: linear-gradient(180deg, #fff4cd 0, rgba(255, 255, 255, 0) 100%);
}

.value-container {
    width: 100%;
}

.value-container .title {
    width: 100%;
    text-align: center;
    color: #ff6725;
    font-size: 3vw;
}


.tch-value .value-container .value-btn-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5% 0;
}

.tch-value .value-container .value-btn-container .btn-item {
    background: white;
}

.tch-value .value-container .value-btn-container .btn-item .btn-name {
    color: #000;
    font-weight: 700;
    /* background: #fff; */
    /* border: 1px solid #dfdfde; */
    /* width: 100%; */
    /* height: 80px; */
    border-radius: 0.25rem;
    box-shadow: 16px 16px 20px rgb(0 0 0 / 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1.375rem;
    padding: 4vh 7vh;
}

.value-content-container .value-content-item {
    /* display: flex; */
    width: 100%;
    display: none;
    /* flex-wrap: wrap-reverse; */
}

.value-content-container .value-content-special {
    display: flex;
}

.value-content-container .value-content-item .quote {
    width: 100%;
    padding-right: 3rem;
    line-height: 1.6;
    margin-top: 13%;
    font-size: 1em;
    text-align: justify;
}


.value-content-container .value-content-item .value-img1 {
    background: url(https://partner.thecoffeehouse.com/hr/files/banners/1624978934591.jpeg) center center no-repeat;
    width: 100%;
    background-size: 40%;
    padding-top: 50%;
    background-size: cover !important;
    border-radius: 0.25rem;
}

.value-content-container .value-content-item .value-img2 {
    background: url(https://partner.thecoffeehouse.com/hr/files/banners/1624978955732.jpeg) center center no-repeat;
    width: 100%;
    background-size: 40%;
    padding-top: 50%;
    background-size: cover !important;
    border-radius: 0.25rem;
}

.value-content-container .value-content-item .value-img3 {
    background: url(https://partner.thecoffeehouse.com/hr/files/banners/1624978979835.jpeg) center center no-repeat;
    width: 100%;
    background-size: 40%;
    padding-top: 50%;
    background-size: cover !important;
    border-radius: 0.25rem;
}

.value-content-container .value-content-item .value-img4 {
    background: url(https://partner.thecoffeehouse.com/hr/files/banners/1624979116153.jpeg) center center no-repeat;
    width: 100%;
    background-size: 40%;
    padding-top: 50%;
    background-size: cover !important;
    border-radius: 0.25rem;
}

.value-content-item .quote .seemore-btn .btn {
    padding: 20px;
    color: black;
    margin-top: 10px;
}

/* DESERVE================================== */

.deserve-container {
    background: #ff6725;
}

.deserve-container .deserve-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.deserve-container .deserve-img-container .img-items{
    background: #fff;
    border: 1px solid #f2f2f7;
    box-sizing: border-box;
    box-shadow: 1rem 1rem 1.25rem rgb(0 0 0 / 8%);
    padding: 1rem 1.5rem 1.5rem;
    border-radius: 0.25rem;
    height: 100%;
    text-align: center;
    margin-top: 10px;
}

.deserve-container .deserve-img-container .img-items img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
}

.deserve-container .deserve-img-container .img-items p {
    font-size: 14px;
    font-weight: 600;
}


.deserve-container .class-section .title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;
}

.deserve-container .class-section .quote {
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
}


/* RESPONSIVE +======================================= */
@media only screen and (min-width: 1024px)  { 
    
}

/* Tablet & Mobile */ 
@media only screen and (max-width: 1023px) {

}


/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    /* HEADER */
    #header-container .header-items .header-menu {
        display: none;
    }
    #header-container .header-items .header-search {
        display: none;
    }
    /* SLIDER */
    .slider-container .pot-apply {
        flex-wrap: wrap;
        width: 100%;
    }
    .slider-container .pot-apply .apply-btn {
        width: 100%;
    }
    .slider-container .pot-apply .apply-btn button {
        width: 100%;
    }
    /* OFFICE */
    .office-block-container {
        padding-bottom: unset;
    }
    .office-items-list {
        flex-wrap: wrap;
    }
    .office-block-container .office-item-left {
        width: 100%;
    }
    .office-block-container .office-item-right {
        margin-left: unset;
        margin-top: 30px;
        width: 100%;
    }
    /* VALUE */
    .value-content-container .value-content-item {
        flex-wrap: wrap-reverse;
    }
    .tch-value .value-container .value-btn-container {
        flex-wrap: wrap;
    }
    .value-content-container .value-content-item .value-img-style {
        padding-top: 100%;
    }
    .value-btn-style {
        width: 49%;
    }
    .value-content-container .value-content-item .quote {
        padding: unset;
    }
    /* DESERVE */
    .deserve-container .deserve-img-container .img-items p {
        height: 32px;
    }

}



/* Mobile */
@media (max-width: 739px) {
    #header-container .header-items .header-menu {
        display: none;
    }
    #header-container .header-items .header-search {
        display: none;
    }
    /* BANNER */
    .slider-container .pot-apply {
        flex-wrap: wrap;
    }

    .office-items-list {
        flex-wrap: wrap;
    }
    /* OFFICE */
    .office-block-container .office-item-right {
        margin-left: unset;
        margin-top: 30px;
    }
    .office-block-container {
        padding: unset;
    }

    /* VALUE */
    .tch-value .value-container .value-btn-container {
        flex-wrap: wrap;
    }
    .value-content-container .value-content-item {
        flex-wrap: wrap-reverse;
    }
    .value-content-container .value-content-item .value-img1 {
        padding-top: 100%;
    }
    .value-btn-style {
        width: 48%;
        margin-bottom: 10px;
    }
    .value-container .title {
        font-size: 5vw;
    }
    .value-content-container .value-content-item .quote {
        padding: unset;
        font-size: 13px;
    }
    .tch-value .value-container .value-btn-container .btn-item .btn-name {
        font-size: 15px;
        padding: 4vh 2vh;
        margin-top: 10px;
    }
    /* QUOTE */
    .deserve-container .class-section .title {
        text-align: center;
        font-size: 2rem;
        line-height: 3rem;
    }
    .deserve-container .deserve-img-container .img-items {
        width: 100%;
    }
    .column-1 {
        flex-basis: unset;
        max-width: unset;
    }

    .column-2 {
        flex-basis: unset;
        max-width: unset;
    }

    .slider-container .pot-apply .apply-btn {
        padding: 15px 10px;
    }
    .value-content-container .value-content-item .value-img2,
    .value-content-container .value-content-item .value-img3,
    .value-content-container .value-content-item .value-img4 {
        padding-top: 100%;
    }
}


